.rodape{
    background-color: var(--preto);
    font-size: 18px;
    display: flex;
    justify-content: center;
}

h2{
    font-weight: 400;
    font-size: 18px;
    color: var(--branco)
}

.email{
    text-decoration: none;
}